<nav>
  <ul>
    <!-- <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="clause" [class.activated]="currentUrl == '/clause'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="health" [class.activated]="currentUrl == '/health'">
        <i class="material-icons">bug_report</i>
      </a>
    </li>
    <li>
        <a routerLink="doc-template" [class.activated]="currentUrl == '/doc-template'">
          <i class="material-icons">euro_symbol</i>
        </a>
      </li> -->
      <li>
        <a routerLink="template-list" [class.activated]="currentUrl == '/template-list'">
          <i class="material-icons">description</i>
        </a>
      </li>
      <li>
        <a routerLink="term" [class.activated]="currentUrl.startsWith( '/term')">
          <i class="material-icons">subject</i>
        </a>
      </li>
      <li>
          <a routerLink="addterm" [class.activated]="currentUrl.startsWith( '/addterm')">
            <i class="material-icons">note_add</i>
          </a>
        </li>
  </ul>
</nav>