<nav>
  <ul>
      <li>
        <a routerLink="template-list" [class.activated]="currentUrl == '/template-list'">
          <i class="material-icons">description</i>
        </a>
      </li>
      <li>
        <a routerLink="term" [class.activated]="currentUrl.startsWith( '/term')">
          <i class="material-icons">subject</i>
        </a>
      </li>
      <li>
          <a routerLink="addterm" [class.activated]="currentUrl.startsWith( '/addterm')">
            <i class="material-icons">note_add</i>
          </a>
        </li>
  </ul>
</nav>